.decks, .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    &-list{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
        &-item{
            background: #fff;
            border-radius: 15px;
            text-align: center;
            list-style-type: none;
            color: #000;
            height: 50px;
            width: 200px;
            &:hover{
                background: #ccc;
                cursor: pointer;
            }
            &-delBtn{
                background: #fff;
                color: #000;
                float: right;
                width: 25px;
                height: 25px;
                font-size: 10px;
                &:hover{
                    background: #000;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }   
    }
    &-input{

    }
}